<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Project: Home
    </title>
    <link rel="stylesheet" href="../css/teststy.css">
</head>
<body>
    <header>
        <div class="buttonsty">
            <button id="buttonsty2" type="button" onclick="location.href='./project-1'" style="cursor:hand">HOME</button>
            <button id="buttonsty2" type="button" onclick="location.href='./project-2'" style="cursor:hand">Introduce</button>
            <button id="buttonsty2" type="button" onclick="location.href='./project-3'" style="cursor:hand">Picture</button>
            <button id="buttonsty2" type="button" onclick="location.href='http://localhost:8080/basic/today'" style="cursor:hand">TIME</button>
        </div>
    </header>
    <hr id = "line3">
    <nav>
        <h1 >Project1 Cron3132131g</h1>
        <strong >test test test<br></strong>
        <strong>1234 1234 1234<br></strong>
    </nav>
    <section>
        <img class="myimg" src="./PONDC_2.jpg" alt="logo">
        <img class="myimg" src="./PONDC_1.jpg" alt="logo"><br>
        <img class="myimg2" src="./naver_map.png" alt="logo">
    </section>
    <footer>
        <hr class = "line2">
        <span id="last">rlaal567@gmail.com<br></span>
        <span id="last">
            <a href="https://github.com/kimminkuk" style="cursor:hand;"> https://github.com/kimminkuk</a>            
        </span>
    </footer>
</body>
</html>