<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>
        Project: Introduce
    </title>
    <link rel="stylesheet" href="../css/teststy.css">
</head>
<body>
    <header>
        <div class = "buttonsty">
            <button id="buttonsty2" type="button" onclick="location.href='./project-1'" style="cursor:hand">HOME</button>
            <button id="buttonsty2" type="button" onclick="location.href='./project-2'" style="cursor:hand">Introduce</button>
            <button id="buttonsty2" type="button" onclick="location.href='./project-3'" style="cursor:hand">Picture</button>
            <button id="buttonsty2" type="button" onclick="location.href='http://localhost:8080/basic/today'" style="cursor:hand">TIME</button>        </div>
    </header>
    <hr id="line3">
    <nav>
        
    </nav>
        <article>
            <img src="test_image1.jpg" id=myimg3 alt = "logo">
            EST.getDmcount() 내부에서 write 하는 MCNTMAX, MCNT Register bit의 조사 요청<br>
            EST.getDmcount() 내부에서 write 하는 MCNTMAX, MCNT Register bit의 조사 요청
        </article>

        <article>
            <img src="test_image2.jpg" id=myimg3 alt = "logo">
            EST.getDmcount() 내부에서 write 하는 MCNTMAX, MCNT Register bit의 조사 요청<br>
            EST.getDmcount() 내부에서 write 하는 MCNTMAX, MCNT Register bit의 조사 요청
        </article>

        <article>
            <img src="test_image2.jpg" id=myimg3 alt = "logo">
            EST.getDmcount() 내부에서 write 하는 MCNTMAX, MCNT Register bit의 조사 요청<br>
            EST.getDmcount() 내부에서 write 하는 MCNTMAX, MCNT Register bit의 조사 요청
        </article>
    <footer>
        <hr class = "line2">
        <span id="last">rlaal567@gmail.com<br></span>
        <span id="last">
            <a href="https://github.com/kimminkuk" style="cursor:hand;"> https://github.com/kimminkuk</a>            
        </span>
    </footer>
</body>
</html>