<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>
        Project: Introduce
    </title>
    <link rel="stylesheet" href="../css/teststy.css">
</head>
<body>
    <header>
        <div class = "buttonsty">
            <button id="buttonsty2" type="button" onclick="location.href='./project-1'" style="cursor:hand">HOME</button>
            <button id="buttonsty2" type="button" onclick="location.href='./project-2'" style="cursor:hand">Introduce</button>
            <button id="buttonsty2" type="button" onclick="location.href='./project-3'" style="cursor:hand">Picture</button>
            <button id="buttonsty2" type="button" onclick="location.href='http://localhost:8080/basic/today'" style="cursor:hand">TIME</button>
        </div>
    </header>
    <hr id = "line3">
    <ul id=font_1>Why Use this Flatform?
        <p class="block_1">
            일반메일 읽지않음 Yoshiaki.Ootsuka@yik..r125 - UTIL/RA/test/librdhwa 2021-10-22 20:40	43KB<br>
            일반메일 읽지않음 Minenori Ishida☆第2技術部 石田峰紀42週☆2021-10-22 19:13	15KB<br>
            일반메일 읽지않음 Jun.Kurihara@yikcorp..r124 - UTIL/RA/test/command/rdmrw 2021-10-22 17:06	9KB<br>
            일반메일 읽음 Jun.Kurihara@yikcorp..r123 - in UTIL/RA/test/librajob/class/BGGeneral: . ChkRaJob condition-pat1 condition-pat2 condition-pat3 condition-pat4<br>    
        </p>
    </ul>
    <ul id=font_1>My Github
        <p class="block_1">
            <a href="https://blog.naver.com/rlaal567" style="cursor:hand;">https://blog.naver.com/rlaal567</a><br>
            Blog 주소 입니다.<br><br>
            <a href="https://github.com/kimminkuk" style="cursor:hand;"> https://github.com/kimminkuk</a><br>
            Github 주소 입니다.
            
        </p>
    </ul>
    <ul id=font_1>Recent Study List
        <p class="block_1">
            Unity Project (Asset 제작문제로 대기중)<br>
            Quant제작 중 (App, Server, DB 등등)<br>
        </p>
    </ul>
    <div>
        <hr class = "line2"></class>
        <span id="last">rlaal567@gmail.com<br></span>
        <span id="last">
        <a href="https://github.com/kimminkuk" style="cursor:hand;"> https://github.com/kimminkuk</a>            
        </span>
    </div>
</body>
</html>