#container {
    min-height: 300px
}
.event,
.btn_login:after {
    clear: both;
}

.header:after {
    content: " ";
    display: table
}

.header_tit {
    position: relative;
    width : 100%;
    max-width: 400px;
    height:50px;
    background-color: #0aba16
}

btn_login,
.logo {
    position: absolute;
    height:50px
}

.logo {
    z-index: 100;
    top: -20px;
    left: 0
}

.logo .lnk_logo {
    display: inline-block;
    float : left;
    padding : 10px 1px 0px 10px
}

.spr_bi,
.spr_book,
.spr_book2,
.spr_icons {
    overflow: hidden;
    display: inline-block;
    color: transparent;
    vertical-align: top;
    text-indent: 100%;
    white-space: nowrap
}

.spr_bi {
    background-image: url('../webapp/img/spr_bi.c753b938cfe0481b000adab9b84a1f8c.png');
    background-size: 130px 154px;
    font-size: 0
}

.spr_bi.ico_n_logo {
    width: 26px;
    height: 26px;
    background-position: 0px 0px
}

.spr_bi.ico_bk_logo {
    width: 40px;
    height: 26px;
    background-position: -33px 0
}

.btn_login .viewReservation {
    1display: inline-block;
    float : right;
}

.event {
    position: relative;
    background-color: #fff
}
.event .section_visual {
    11margin-top: 40px
}
.event .section_visual .group_visual {
    position: relative;
    width : 400px;
}
.event .section_visual .group_visual .container_visual {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    width : 400px;
}
.event .section_visual .group_visual .container_visual .prev_e {
    position: absolute;
    right: 15.6%;
    width: 35px;
    height: 100%;
    z-index: 15
}

.event .section_visual .group_visual .container_visual .prev_e .prev_inn {
    height: 35px;
    position: absolute;
    bottom: 15px
}
.event .section_visual .group_visual .container_visual .prev_e .prev_inn .btn_pre_e {
    position: relative;
    display: block;
    z-index: 1
}
.event .section_visual .group_visual .container_visual .prev_e .prev_inn .btn_pre_e .spr_event_pre {
    width: 35px;
    height: 35px;
    background-position: 0 0
}
.event .section_visual .group_visual .container_visual .prev_e .prev_inn .btn_pre_e .spr_event_pre.on {
    background-position: -71px 0
}
.event .section_visual .group_visual .container_visual .nxt_e {
    position: absolute;
    left: 84.4%;
    width: 35px;
    height: 100%;
    z-index: 15
}
@media screen and (max-width: 320px) {
    .event .section_visual .group_visual .container_visual .nxt_e {
        left: 270px
    }
}
.event .section_visual .group_visual .container_visual .nxt_e .nxt_inn {
    height: 35px;
    position: absolute;
    bottom: 15px
}
.event .section_visual .group_visual .container_visual .nxt_e .nxt_inn .btn_nxt_e {
    position: relative;
    z-index: 1
}
.event .section_visual .group_visual .container_visual .nxt_e .nxt_inn .btn_nxt_e .spr_event_nxt {
    width: 35px;
    height: 35px;
    background-position: -35px 0
}
.event .section_visual .group_visual .container_visual .nxt_e .nxt_inn .btn_nxt_e .spr_event_nxt.on {
    background-position: -106px 0
}
.event .spr_book_event {
    overflow: hidden;
    display: inline-block;
    color: transparent;
    background-image: url('../webapp/img/spr_book_event.png');
    background-size: 150px 50px;
    -webkit-background-size: 150px 50px;
    vertical-align: top;
    text-indent: 100%;
    white-space: nowrap;
    font-size: 0
}

.group_visual {
    overflow: hidden;
    position: relative;
    1display: block;
    word-wrap: normal;
    box-sizing: border-box;
    width : 400px;
    height : 200px;
}
.group_visual .visual_img {
    position: absolute;
    min-height: 210px;
    font: 0px/0 a;
    color: #fff;
    white-space: nowrap;

    top : 0px;
    left : -40px;
}
.event .section_visual .group_visual .container_visual .visual_img {

}
.event .section_visual .group_visual .container_visual .visual_img .banner_loop {

}

.container_visual_mk {
    position : relative;
    overflow: hidden;
    width: 400px;
    height: 200px;
}

.container_visual_mk .visual_img_mk > img {
    position:absolute;
    top : 0px;
    left : 400px;
    width : 400px;
    height: 200px;
    text-align: center;
    font-size : 0px;
    line-height: 300px;
    color : #fff;
    1transition: all 1s;
}

.event .section_event_tab {
    position: relative
}

.event .section_event_tab .event_tab_lst {
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-overflow-scrolling: touch;
    margin : 0px;
}
.event .section_event_tab .event_tab_lst>.item {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent
}

.event .section_event_tab .event_tab_lst>.item .anchor {
    display: inline-block;
    margin-right: 13px;
    padding: 10px 4.5px 10px 4px;
    color: #000;
    box-sizing: border-box;
    line-height: 20px
}

.event .section_event_tab .event_tab_lst>.item .anchor.active {
    padding: 10px 4.5px 8px 4px;
    color: #0aba16;
    border-bottom: 2px solid #0aba16;
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Helvetica Nenu, Helvetica, Roboto, Arial, NanumGothicWebB, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
    font-weight: 600
}
.event .section_event_tab .event_tab_lst>.item .anchor.last {
    color: #F82222!important
}
.event .section_event_tab .event_tab_lst>.item .anchor.last.active {
    color: #0aba16
}
.event .section_event_tab .event_tab_lst>.item:last-child {
    margin-right: 0
}

.event .section_event_lst {
    margin-top: -6px;
    border-top: 1px solid #e7e7e7;
    width : 400px;
}
.event .section_event_lst .event_lst_txt {
    1padding: 9px 20px 7px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Helvetica Nenu, Helvetica, Roboto, Arial, NanumGothicWebR, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
    font-weight: 400;
    color: #666
}

.pink {
    color : orangered;
}

.event .wrap_event_box {
    overflow: hidden;
    padding-left: 2.5px;
    padding-right: 2px;
    border-top: 1px solid #e5e8eb;
    background-color: #e9ecef
}
.event .wrap_event_box .lst_event_box {
    width: 50%;
    float: left;
    1padding-top: 10px;
    padding-left: 2.5px;
    padding-right: 3.5px;
    box-sizing: border-box
}
.event .wrap_event_box .lst_event_box .item {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-bottom: 6px;
    box-sizing: border-box
}
.event .wrap_event_box .lst_event_box .item .item_book {
    display: block
}
.event .wrap_event_box .lst_event_box .item .item_book .item_preview {
    overflow: hidden;
    position: relative;
    display: block
}
.event .wrap_event_box .lst_event_box .item .event_txt {
    position: relative;
    padding: 11px 11.5px 12.5px;
    border-left: 1px solid #e1e4e7;
    border-right: 1px solid #e1e4e7;
    border-bottom: 1px solid #e1e4e7;
    background-color: #fff
}
.seat_wrap,
.wrap_map {
    position: absolute;
    top: 0
}
.event .wrap_event_box .lst_event_box .item .event_txt .event_txt_tit {
    margin-bottom: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Helvetica Nenu, Helvetica, Roboto, Arial, NanumGothicWebB, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #000;

    text-decoration:none;
}

.event .wrap_event_box .lst_event_box .item .event_txt .event_txt_dsc,
.event .wrap_event_box .lst_event_box .item .event_txt .event_txt_tit .sm {
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Helvetica Nenu, Helvetica, Roboto, Arial, NanumGothicWebR, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
    font-weight: 400;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}
.event .wrap_event_box .lst_event_box .item .event_txt .event_txt_tit .sm {
    padding-top: 3px;
    padding-bottom: 9.5px;
    margin-left: .5px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 14px;
    text-indent: -.5px;
    line-height: 14px;
    white-space: nowrap
}
.event .wrap_event_box .lst_event_box .item .event_txt .event_txt_dsc {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #999
}

.img_thumb {
    width: 100%;
    vertical-align: top
}

.line_table table td,
.preview../img_thumb {
    vertical-align: middle
}
.item_list_wrap .item_list .item .item_preview {
    float: left;
    position: relative;
    margin: 0 13px 0 0;
    width: 90px;
    height: 90px
}

.gototop .lnk_top,
.item_name {
    color: #000;
    text-align: center
}

.gototop {
    z-index: 1200;
    position: relative;
    background-color: #e9ecef;
    width : 400px;
}
.gototop .lnk_top {
    display: block;
    padding: 18px 0 19.5px;
    font-size: 13px;
    line-height: 15px
}
.gototop .lnk_top .lnk_top_text {
    display: inline-block;
    position: relative;
    padding-left: 13px

    text-align : center;
}
.gototop .lnk_top .lnk_top_text:after {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 9px;
    height: 11px;
    //background-image: url(.../img/spr_book2.9951b6760ed19190feefaf8e9c5bed2e.png);
    background-size: 330px 400px;
    background-repeat: no-repeat;
    background-position: -299px -26px;
    content: ''
}

.more .btn{
    width: 380px;
    background-color: #fff;
    height: 40px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    border: 1px solid gray;
    cursor:pointer;
}
.footer {
    z-index: 1200;
    overflow: hidden;
    position: relative;
    background: #e9ecef;
    font: 0/0 a;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Helvetica Nenu, Helvetica, Roboto, Arial, NanumGothicWebR, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif
}
