#container {
    min-height: 300px
}
.event,
.btn_login:after {
    clear: both;
}

.header:after {
    content: " ";
    display: table
}

.header_tit {
    position: relative;
    width : 100%;
    max-width: 400px;
    height:50px;
    background-color: #0aba16
}

btn_login,
.logo {
    position: absolute;
    height:50px
}

.logo {
    z-index: 100;
    top: -20px;
    left: 0
}

.logo .lnk_logo {
    display: inline-block;
    float : left;
    padding : 10px 1px 0px 10px
}

.spr_bi,
.spr_book,
.spr_book2,
.spr_icons {
    overflow: hidden;
    display: inline-block;
    color: transparent;
    vertical-align: top;
    text-indent: 100%;
    white-space: nowrap
}

.spr_bi {
    background-image: url('../webapp/img/spr_bi.c753b938cfe0481b000adab9b84a1f8c.png');
    background-size: 130px 154px;
    font-size: 0
}

.spr_bi.ico_n_logo {
    width: 26px;
    height: 26px;
    background-position: 0px 0px
}

.spr_bi.ico_bk_logo {
    width: 40px;
    height: 26px;
    background-position: -33px 0
}

.btn_login .viewReservation {
    1display: inline-block;
    float : right;
}

.event {
    position: relative;
    background-color: #fff
}
.event .section_visual {
    11margin-top: 40px
}
.event .section_visual .group_visual {
    position: relative;
    width : 400px;
}
.event .section_visual .group_visual .container_visual {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    width : 400px;
}
.event .section_visual .group_visual .container_visual .prev_e {
    position: absolute;
    right: 15.6%;
    width: 35px;
    height: 100%;
    z-index: 15
}

.event .section_visual .group_visual .container_visual .prev_e .prev_inn {
    height: 35px;
    position: absolute;
    bottom: 15px
}
.event .section_visual .group_visual .container_visual .prev_e .prev_inn .btn_pre_e {
    position: relative;
    display: block;
    z-index: 1
}
.event .section_visual .group_visual .container_visual .prev_e .prev_inn .btn_pre_e .spr_event_pre {
    width: 35px;
    height: 35px;
    background-position: 0 0
}
.event .section_visual .group_visual .container_visual .prev_e .prev_inn .btn_pre_e .spr_event_pre.on {
    background-position: -71px 0
}
.event .section_visual .group_visual .container_visual .nxt_e {
    position: absolute;
    left: 84.4%;
    width: 35px;
    height: 100%;
    z-index: 15
}
@media screen and (max-width: 320px) {
    .event .section_visual .group_visual .container_visual .nxt_e {
        left: 270px
    }
}
.event .section_visual .group_visual .container_visual .nxt_e .nxt_inn {
    height: 35px;
    position: absolute;
    bottom: 15px
}
.event .section_visual .group_visual .container_visual .nxt_e .nxt_inn .btn_nxt_e {
    position: relative;
    z-index: 1
}
.event .section_visual .group_visual .container_visual .nxt_e .nxt_inn .btn_nxt_e .spr_event_nxt {
    width: 35px;
    height: 35px;
    background-position: -35px 0
}
.event .section_visual .group_visual .container_visual .nxt_e .nxt_inn .btn_nxt_e .spr_event_nxt.on {
    background-position: -106px 0
}
.event .spr_book_event {
    overflow: hidden;
    display: inline-block;
    color: transparent;
    background-image: url('../webapp/img/spr_book_event.png');
    background-size: 150px 50px;
    -webkit-background-size: 150px 50px;
    vertical-align: top;
    text-indent: 100%;
    white-space: nowrap;
    font-size: 0
}

.group_visual {
    overflow: hidden;
    position: relative;
    1display: block;
    word-wrap: normal;
    box-sizing: border-box;
    width : 400px;
    height : 200px;
}
.group_visual .visual_img {
    position: absolute;
    min-height: 210px;
    font: 0px/0 a;
    color: #fff;
    white-space: nowrap;

    top : 0px;
    left : -40px;
}
.event .section_visual .group_visual .container_visual .visual_img {

}
.event .section_visual .group_visual .container_visual .visual_img .banner_loop {

}

.container_visual_mk {
    position : relative;
    overflow: hidden;
    width: 400px;
    height: 200px;
}

.container_visual_mk .visual_img_mk > img {
    position:absolute;
    top : 0px;
    left : 400px;
    width : 400px;
    height: 200px;
    text-align: center;
    font-size : 0px;
    line-height: 300px;
    color : #fff;
    transition: ease-in;
}