<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>HOME</title>
    <link rel="stylesheet" href="../css/basicV2.css">
</head>
<body>
<header>
    <div id = "inclinationText">
        나의 해야할 일들
    </div>
    <div class = "btnsty">
        <button id = "btn1" type="button" onclick="location.href='./TODOpage.html'" style="cursor: hand;">
            새로운 TODO 등록
        </button>
    </div>
</header>
<nav class = "mainlist">
    TODO
    <div name='testNav2' id='testNav2'></div>
</nav>

<nav class = "mainlist">
    DOING
</nav>

<nav class = "mainlist">
    DONE
</nav>

<form action=""></form>

<script type="text/javascript" src="summit.js"></script>
</body>
<footer>

</footer>
</html>