<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HOME</title>
    <link rel="stylesheet" href="../css/basicV3.css">
</head>
<body>
    <h1>방명록</h1>
    <h3>
        방명록 전체 수 :
        <div th:value="${count}">
            0
        </div>
    </h3>

    <div>
        name:
        <input type="text" required maxlength="24" size="16">
    </div>
    <div>
        <input type="text" style="width:500px;height:200px;">
    </div>
    <button id = "gb_Enrollment" type="button" onclick="enrollmentFunc()" style="cursor:pointer">
        등록
    </button>
</body>
</html>